<%= form_with(model: article) do |form| %>
  <% assign_errors %>

  <div class="field flex flex-col max-w-full sm:max-w-screen-sm mx-auto">
    <p class="text-red-600"><%= @title_error %></p>
    <%= form.text_area :title, placeholder: "Title", rows: "1", class: "border-b-2 border-gray-400 focus:border-blue-300 outline-none w-full text-lg sm:text-2xl resize-none text-center"%>
  </div>

  <div class="field flex flex-col max-w-full sm:max-w-screen-sm mx-auto my-16">
    <p class="text-red-600"><%= @description_error %></p>
    <%= form.text_area :description, placeholder: "Description", rows: "1",  class: "border-b-2 border-gray-400 focus:border-blue-300 outline-none w-full overflow-y-auto resize-none max-h-60 text-center" %>
  </div>


  <div class="field flex flex-col justify-center text-center my-16">
    <p class="mb-4 text-red-600"><%= @image_error %></p>
    <div>
      <%= form.label :image, id: "pictureInput", class: "rounded-lg border-2 border-gray-400 cursor-pointer px-4 py-2" do %>
        <span>
          <i class="material-icons align-bottom">cloud_upload</i> Cover image
        </span>
        <%= form.file_field :image, class: "hidden" %>
      <% end %>
      <div id="target" class="xl:max-w-screen-lg lg:max-w-screen-md md:max-w-screen-sm mx-auto px-8 md:px-0">
        <%= display_article_image(@article) %>
      </div>
    </div>
  </div>

  <div class="field flex flex-col justify-center ">
    <p class="mb-2 text-red-600"><%= @body_error %></p>
    <div class="mx-auto w-full md:w-4/5 md:max-w-screen-sm text-left">
        <%= form.rich_text_area :body, class: "border-2 border-gray-400 rounded-md focus:border-blue-300 outline-none h-96 overflow-hidden overflow-y-auto" %>
    </div>
  </div>

  <div class="field grid justify-center">
    <p class="my-6">Select a category</p>
    <p class="mb-2 text-red-600"><%= @category_error %></p>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-8">
    <%= form.collection_check_boxes :category_ids, get_categories, :id, :name do |checkbox| %>
      <div class="relative h-8 px-10">
        <%= checkbox.check_box class: 'z-10 no-chkbox' %>
        <span class="checkbox border-2 border-gray-200 rounded-xl"></span>
        <%= checkbox.label class: 'z-10 absolute w-full h-full tit unselectable cursor-pointer chk-label' %>
      </div>
    <% end %> 
    </div>
  </div>

  <div class="actions mt-16 mb-24">
    <%= form.submit class: "py-1 px-2 cursor-pointer white-shadow top-shadow inline-block rounded-sm bottom-shadow" %>
  </div>
<% end %>
