<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex flex-col max-w-xs md:max-w-screen-sm mx-auto">
    <%= form.text_area :title, placeholder: "Title", rows: "1", class: "border-b-2 border-gray-400 focus:border-blue-300 outline-none w-full text-lg md:text-2xl resize-none"%>
  </div>

  <div class="field flex flex-col max-w-xs md:max-w-screen-sm mx-auto my-16">
    <%= form.text_area :description, placeholder: "Description", rows: "1",  class: "border-b-2 border-gray-400 focus:border-blue-300 outline-none w-full v-scroll resize-none max-h-60" %>
  </div>


  <div class="field flex flex-col justify-center text-center my-16">
    <div>
      <%= form.label :image, id: "pictureInput", class: "rounded-lg border-2 border-gray-400 cursor-pointer px-4 py-2" do %>
        <span>
          <i class="material-icons align-bottom">cloud_upload</i> Cover image
        </span>
        <%= form.file_field :image, class: "hidden" %>
      <% end %>
      <div id="target" class="xl:max-w-screen-lg lg:max-w-screen-md md:max-w-screen-sm mx-auto px-8 md:px-0">
        <%= display_article_image(@article) %>
      </div>
    </div>
  </div>

  <div class="field flex flex-col justify-center ">
    <div class="mx-auto md:w-4/5 md:max-w-screen-sm text-left">
        <%= form.rich_text_area :body, class: "border-2 border-gray-400 rounded-md focus:border-blue-300 outline-none " %>
    </div>
  </div>

  <div class="actions my-8 ">
    <%= form.submit class: "py-1 px-2 cursor-pointer white-shadow top-shadow inline-block rounded-sm bottom-shadow" %>
  </div>
<% end %>
