<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field grid ">
    <%= form.label :title %>
    <%= form.text_field :title, class: "border-2 border-gray-400 rounded-md focus:border-blue-300 outline-none w-60 mx-auto" %>
  </div>


  <div class="field grid justify-center text-center">
    <%= form.label :image, id: "pictureInput", class: "rounded-lg border-2 border-gray-400 cursor-pointer px-4 py-2 my-6" do %>
      Upload cover
      <%= form.file_field :image, class: "hidden" %>
    <% end %>
    <div id="target" class="flex w-60 justify-self-center">
      <%= display_article_image(@article) %>
    </div>
  </div>

  <div class="field grid justify-center">
    <%= form.label :body %>
    <%= form.text_area :text, class: "border-2 border-gray-400 rounded-md focus:border-blue-300 outline-none w-full" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
