<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/nav" %>
    
    
    <% if flash[:notice] %>
      <% if current_page?(new_user_session_path || new_user_registration_path) %>
        <p class="notice"><%= notice %></p>
      <% else %>
        <div class="absolute w-full text-center">
          <p class="notice relative xl:w-3/6 lg:w-3/6 md:w-3/6 sm:4/6 w-5/6 mx-auto bg-green-500 text-white top-8 py-1 rounded-xl"><%= notice %></p>
        </div>
      <% end %>
    <% elsif flash[:alert] %>
      <% if current_page?(new_user_session_path || new_user_registration_path) %>
        <p class="alert"><%= alert %></p>
      <% else %>
        <div class="absolute w-full text-center">
          <p class="alert relative xl:w-3/6 lg:w-3/6 md:w-3/6 sm:4/6 w-5/6 mx-auto bg-red-500 text-white top-8 py-1 rounded-xl"><%= alert %></p>
        </div>
      <% end %>
    <% end %>
    
    
    
    <%= yield %>
  </body>
</html>
